:root {
    --primary-color: #FB9722;
    --black-color: #1F1F1F;
}

body {
    background-color: var(--black-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}
.inactive {
    display: none;
}

/*HOME VIEW*/
header {
    width: 100%;
    height: 24vh;
}
header .main__section-menu {
    width: 100%;
    height: 30%;
    position: relative;
}
header .main__section-menu .menu__icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .main__section-menu .menu__icons .menu__icons-logo {
    margin-left: 20px;
}
header .main__section-menu .menu__icons .menu__icons-burger {
    margin-right: 20px;
}

header .main__section-menu .slide-menu {
    width: 200px;
    height: 300px;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: var(--black-color);
    border-radius: 18px 0 0 18px;
}
header .main__section-menu .slide-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    list-style-type: none;
    margin-top: 30px;
}
header .main__section-menu .slide-menu ul li a {
    text-decoration: none;
    color: #FFFF;
    border-left: 3px solid var(--primary-color);
    padding-left: 10px;
}
header .main__section-search {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
header .main__section-search span {
    width: 246px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    background-color: #000000;
    padding: 5px 15px;
}
header .main__section-search span input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    animation: none;
    transition: none;
    outline: none;
    background-color: #dfe;
    border: 0;
    background-color: #000000;
    color: #FFFF;
    font-size: 0.8rem;
    width: 230px;
}
header .main__section-opcion-movies {
    width: 100%;
    height: auto;
    overflow-x: scroll;
}
header .main__section-opcion-movies ul {
    display: flex;
    gap: 10px;
    white-space: nowrap;
}
header .main__section-opcion-movies ul li {
    display: inline-block;
    list-style-type: none;
}
header .main__section-opcion-movies ul li a {
    text-decoration: none;
    color: #FFFF;
    font-size: 0.8rem;
    padding: 5px 10px;
    background-color: #ed8c1a4d;
    border-radius: 8px;
}


main .search-movies-container-list {
    width: 100%;
    height: auto;
}
main .search-movies-container h2 {
    color: #FFFF;
    font-size: 1rem;
    margin-left: 20px;
    border-left: 5px solid var(--primary-color);
    padding-left: 5px;
    margin-bottom: 20px;
}
main .search-movies-container-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}
main .search-movies-container-list .movie-search {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
main .search-movies-container-list article {
    width: 160px;
    height: 180px;
    position: relative;
}
main .search-movies-container-list article .add-favorites-container {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
    border-radius: 50%;
    box-shadow: 0px 3px 3px 1px #FB9722;
}

main .section__treding-movies {
    width: 100%;
    height: auto;
}
main .section__treding-movies h2,
main .section__new-movies h2,
main .section__animated-movies h2 {
    color: #FFFF;
    font-size: 1rem;
    border-left: 5px solid var(--primary-color);
    padding-left: 5px;
    margin: 0 0 20px 20px;
}
main .movie-container,
main .new-movie-container,
main .animated-movie-container {
    overflow-x: auto;
}
main .movie-container .scroll-container,
main .new-movie-container .new-movies-scroll-container, 
main .animated-movie-container .animated-movies-scroll-container {
    display: flex;
    white-space: nowrap;
}
main .movie-container .cards-container .trending-image,
main .new-movie-container .new-movies-scroll-container .new-movie-cards-container .new-movie-image,
main .animated-movie-container .animated-movies-scroll-container .animated-movie-cards-container .animated-movie-image {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: -1px 1px 12px 1px rgba(251,151,34,1);
}
main .movie-container .cards-container,
main .new-movie-container .new-movie-cards-container,
main .animated-movie-container .animated-movie-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 300px; 
    padding: 10px;
}
main .movie-container .cards-container h3,
main .new-movie-container .new-movie-cards-container h3,
main .animated-movie-container .animated-movie-cards-container h3 {
    color: #FFFFFF;
    margin: 10px 0 14px 0;
    text-align: center;
}
main .section__treding-movies .movie-container .scroll-container .new-movie-star,
main .new-movie-container .new-movie-cards-container .new-movie-star,
main .animated-movie-container .animated-movie-cards-container .animated-movie-star {
    display: flex;
    align-items: center;
    gap: 10px;
}
main .section__treding-movies .movie-container .scroll-container .new-movie-star img,
main .new-movie-container .new-movie-cards-container .new-movie-star img,
main .animated-movie-container .animated-movie-cards-container .animated-movie-star img {
    width: 15px;
    height: 15px;
    object-fit: cover;
}
main .section__treding-movies .movie-container .scroll-container .new-movie-star p,
main .new-movie-container .new-movie-cards-container .new-movie-star p, 
main .animated-movie-container .animated-movie-cards-container .animated-movie-star p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.7rem;
}

main .section__Movies-details {
    width: 100%;
    height: auto;
    position: relative;
}

main .section__Movies-details .picture-details-container {
    width: 100%;
    height: 50vh;
    position: relative;
}

main .section__Movies-details .picture-details-container .back-arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: #505054bb;
}
main .section__Movies-details .picture-details-container .movie-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .section__Movies-details .details-container {
    width: 100%;
    height: auto;
    position: absolute;
    border-radius: 2rem 2rem 0 0;
    background-color:  #1f1f1fef;
}
main .section__Movies-details .details-container .reviews {
    display: flex;
    margin: 2rem 0 0 1rem;
}
main .section__Movies-details .details-container .reviews p {
    margin: 0 0.5rem;
    color: #f6e44f;
    font-weight: 500;
}
main .section__Movies-details .details-container .title-information h1 {
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0.5rem 0 0.5rem 1rem;
}
main .section__Movies-details .details-container .title-information .other-details {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.5rem 0 0.5rem 1rem;
    font-weight: 300;
    color: #FFFFFF;
}
main .section__Movies-details .details-container .title-information .other-details div {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #5f5c5c87;
}
main .section__Movies-details .details-container .title-information .custom-list {
    list-style-type: none;
    padding-left: 1rem; 
    color: #FFFFFF;
    margin: 15px 0 15px 0;
}
main .section__Movies-details .details-container .title-information  .custom-list li::before {
    content: "•";
    color: var(--primary-color); 
    margin-right: 5px; 
}
main .section__Movies-details .details-container .more-info-conatiner .movie-synopsis {
    height: auto;
    padding: 0 1rem;
}
main .section__Movies-details .details-container .more-info-conatiner .movie-synopsis p {
    color: #FFFFFF;
}
main .section__Movies-details .details-container .more-info-conatiner .similar-movie h2 {
    color: #FFFF;
    font-size: 1rem;
    border-left: 5px solid var(--primary-color);
    padding-left: 5px;
    margin: 3rem 0 2rem 1rem;
}
main .section__Movies-details .details-container .more-info-conatiner .similar-movie .similar-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 0 1rem;
}
main .section__Movies-details .details-container .more-info-conatiner .similar-movie .similar-images img {
    max-width: 130px;
    height: 200px;
    object-fit: cover;
}

main .filter-search-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    padding: 0 1rem;
}
main .filter-search-container img {
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: -1px 1px 4px 1px rgba(251,151,34,1);
}

main .categories-preview-container {
    width: 100%;
    height: auto;
}
main .categories-preview-container .back-arrow {
    width: 40px;
    height: 40px;
    margin: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #505054be;
}
main .categories-preview-container h2 {
    color: #FFFF;
    font-size: 1rem;
    border-left: 5px solid var(--primary-color);
    padding-left: 5px;
    margin: 20px 0 30px 20px;
}
main .categories-preview-container .movies-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    padding: 0 1rem;
}
main .categories-preview-container .movies-category img{
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: -1px 1px 4px 1px rgba(251,151,34,1);
}

footer {    
    width: 100%;
    height: 15vh;
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(24 19 19 / 96%);
    border-radius: 10px 10px 0 0;
    align-items: center;
}
footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
